

  <link rel="stylesheet" href="../public/css/style.css">
<style>
  .div3 {
    color: rgba(0, 0, 0, 0.61);
    background-color: darkgoldenrod;
  }  
</style>

  <!--Login Form -->

    <form class="sign-up-form" action="/register" method="POST" style="text-align: center;">
      <h1>Sign up</h1>
      <div>
      <label class="div3 ">Write your name</label>
    </div>
      <input type="text" class="div2" id="name" name="name" placeholder="Name">
      
      <div class="div1">
      <label for="cars">Choose your gender:</label>
    </div>
    <div>

      <select name="gender" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div>

      <label for="cars">What gender interest you:</label>
    </div>

    <div>

      <select name="interest" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

    </div>

      <input type="text" id="email" name="email" placeholder="Email">
      <br></br>
      <input type="password" id="password" name="password" placeholder="Password">
      <br></br>
      <input type="submit" value="Create">
      <br></br>
    </form>

  </div>
</div>

